{% extends 'base.html.twig' %}

    {% block title %} ControllerBlog!{% endblock %}

    {% block body %}

        <div class="card bg-dark text-white">
            {% if article.image %}
                <img src="/upload/images/{{ article.image }}"  class="card-img-top" alt="">
                {% else %}
                    <img src="/upload/images/blog_default.jpg"  class="card-img-top" alt="">
            {% endif %}
        </div>

        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata"> Ecrit le {{ article.createdAt | date('d/m/y')}}  à
                {{ article.createdAt | date('H:i')}} dans la categorie  {{ article.category.title }}
            </div>
            <div class="content">

                {{ article.content | raw}}
            </div>
        </article>

        <section class="commentaire">
            <h1> {{ article.comments | length }} Commentaires </h1>
            {% for comment in article.comments %}
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{ comment.author  }} (<small>{{ comment.createdAt | date('d/m/y à H:i')}} </small>)
                        </div>
                        <div class="col">
                            {{ comment.text | raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if app.user%}
                {% if article.users.id == app.user.id %}
                    <a href="{{ path('blog_edit',{'id':article.id}) }}" class="btn btn-success" >Modifier</a>
                    <a href="{{ path('blog_delete',{'id':article.id}) }}" class="btn btn-danger" >Supprimer</a>
                    {% endif %}
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.author , {'attr' : {'placeholder':"nom de l'auteur"}}) }}
                {{ form_row(commentForm.text, {'attr' : {'placeholder':"contenu de l'article"}}) }}


                <button class="btn btn-success" type="submit">
                    commenter !
                </button>

                {{ form_end(commentForm) }}
            {% else %}
                <h3> Vous ne pouvez pas commenter si vous n'êtes pas connectés </h3>
            {% endif %}
        </section>

    {% endblock %}