<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{#        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">#}
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark inherit-top" id="mainNav">
        <div class="container" >
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('blog') }}">Articles
                    </a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_creat') }}">creer un article</a></li>

                {% endif %}
                {% if not app.user %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('security_registration') }}">Inscription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a></li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile',{'id' : app.user.id}) }}">Profil</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <footer class="bg-light text-center text-lg-start" style="position: absolute; bottom: 0px; width: 100%;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="{{ path('home') }}">Amara-App.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    </body>
</html>
